
<section id="about">

        <div class="row">
            <div class="col-lg-12">
            <img class="profile-pic"  src="images/mypic.jpg" alt="Mangalashri" />

        </div>

         <div class="main-col">

            <h2>About Me</h2>

            <p> I am a 3rd year student studying Computer Science and Engineering at College of Engineering, Guindy.<br> I'm a calm girl and i'm very much interested in programming. 
            </p>
            <h2>Areas of Interest</h2>
                  <div id="int">
				  <ul style="list-style-type:circle">
						   <li ng-repeat="x in subs">
									{{ x }} <br><br>
							</li>
					</ul>
					</div>
         </div>
	</section>