<div id="carousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel" data-slide-to="0" class="active"></li>
            <li data-target="#carousel" data-slide-to="1"></li>
            <li data-target="#carousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for Slides -->
        <div class="carousel-inner">
            <div class="item active">
                <!-- Set the first background image using inline CSS below. -->
                <img src="images/code.jpg"/>
                <div class="carousel-caption">
                    <h1 style="color:#00005C">Welcome To My Site!</h1>
                </div>
            </div>
            <div class="item">
                <!-- Set the second background image using inline CSS below. -->
                <img src='images/ceg4.jpg'/>
                <div class="carousel-caption">
                    <h1 style="color:#00005C">Welcome To My Site!</h1>
                </div>
            </div>
            <div class="item">
                <!-- Set the third background image using inline CSS below. -->
                <img src='images/01.jpg'/>
                <div class="carousel-caption">
                    <h1 style="color:#00005C">Welcome To My Site!</h1>
                </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#carousel" data-slide="next">
            <span class="icon-next"></span>
        </a>
		
    </div>
