<section id="contact">
 <div class="row">

            <div class="twelve columns">

               <div class="widget widget_contact">

					   <h2>Contact</h2>
					   <p class="address">
						   Mangalashri R<br>
						   Chennai.<br>
    				   </p>

				   </div>
					<ul class="list-inline social-buttons">
                        <li><a data-toggle="tooltip" data-placement="right" title="github" href="https://github.com/Mangalashri"><i class="fa fa-github"></i></a></li>
                        <li><a data-toggle="tooltip" data-placement="right" title="facebook" href="https://www.facebook.com/rmangalashri"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a data-toggle="tooltip" data-placement="right" title="google" href="https://plus.google.com/u/0/105541707181020905924/posts/p/pub"><i class="fa fa-google"></i></a>
                        </li>
                    </ul><br><center>
					<div ng-include="'partials/modal.html'">
					</div>
					</center>
					<br>
            </div>

      </div>
	  <script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();   
});
</script>
</section>