<section id="edu" class="edu">

      <div class="row education">

            <h2><span>Education</span></h2>

                  <h3>College of Engineering, Guindy</h3>
                  <p class="info">B.E Computer Science and Engineering<span>&bull;</span> <em class="date">May 2017 (Expected) </em></p>

                  <h3>NSN Matriculation higher secondary school, Chitlapakkam</h3>
                  <p class="info">High Secondary (12th Standard)<span>&bull;</span> <em class="date">April 2013</em></p>
                  <h3>Srimathi Sundaravalli Memorial school, Chrompet</h3>
                  <p class="info">High School (10th Standard) <span>&bull;</span> <em class="date">April 2011</em></p>
				  <br>
      </div> <!-- End Education -->
</section>